.main-cs {
    position: relative;
    top: 60px;
    width: 100%;
    flex-direction: column;
    display: flex;
}
.none-cs {
    display: none;
}
.show-cs {
    display: flex;
    width: 450px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;  
}

.cs-eachprod {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: solid 1px black;
    color: white;
    line-height: 20px;
}
.inputnum-cs {
    width: 35px;
    height: 40px;
    text-align: center;
    margin: 8px;
}
.cs-pic {
    width: 25%;
    margin-right: 20px;
}
.cs-actualpic {
    width: 100%;
}
.cs-info {

}
.cs-buttons {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.cs-cont {
    width: 180px;
    height: 40px;
    margin-right: 10px;
    border: none;
    background-color: #555;
    color: white;
    border-radius: 2px;
}
.cs-quantbutton {
    border-radius: 50%;
    background-color: #333;
    border: solid white 1px;
    height: 34px;
    width: 35px;
    font-size: 20px;
    color: white;
}
.cs-quantbutton:focus {
    outline: none;
}
.cs-check {
    width: 180px;
    height: 40px;
    margin-left: 10px;
    border: none;
    color: white;
    border-radius: 2px;
    background-color: #54BFD9;
}