.mwaWrapper {
  font-family: font130145;
  display: inline-block;
  height: 450px;
  width: 100%;
}
.men {
  position: relative;
  background-image: url(../images/menlink.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  max-height: 450px;
  height: 100%;
  width: 33.33%;

}


.mwa-h1 {
  position: absolute;
  top: 2%;
  left: 3%;
  color: white;
  overflow-y: visible;
  text-shadow: rgb(0,0,0,0.8);
  font-weight: bold;
  z-index: 1;

}
.changing {
  background-color: rgba(0,0,0,0.1);
  font-weight: bolder;
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  color: black;
  transition: background 1s;
}
.changing:hover {
  opacity: 1;
  background: rgba(255,255,255,0.8);
}
.mwa-h2 {
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);

}

.useless {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  width: 200px;
  border-bottom: 1px solid black;
}
.mwa-p {
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, 50%);
}
.women {
  position: relative;
  background-image: url(../images/womenlink.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  max-height: 450px;
  height: 100%;
  width: 33.33%;
  opacity: 1;
}
.accessories {
  position: relative;
  background-image: url(../images/accesslink.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  max-height: 450px;
  height: 100%;
  width: 33.33%;
  opacity: 1;
}

@media (max-width: 643px) {

  .men {
    width: 100%;
    height: 400px;
  }

  .women {
    width: 100%;
    height: 400px;
  }

  .accessories {
    width: 100%;
    height: 400px;
  }

  .mwaWrapper {
    height: 1200px;
  }

}
