.wrap {
  width: 100%;
  background-color: white;
  font-size: 15px;
  text-align: center;
  padding: 60px 0px;
  font-family: font130145;

}
.forH2 {
  position: relative;

}
.popItems {
 padding: 0 0 50px 0;

}
.pop-bold {
 font-family: font122629;
}

.items {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
  display: inline-block;
  vertical-align: top;
}

.pop-img {
  width: 66%;
  height: auto;
}

.item {
  width: 25%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.item1 {
  flex: 1;
}
.item2 {
  flex: 1;
}
.item3 {
  flex: 1;
}
.item4 {
  flex: 1;
}

@media (max-width: 768px) {

  .item {
    width: 49%;
  }

  .pop-img {
    width: 80%;
  }

}
